/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以上是reset*/
html{
	height: 100%;
}

body{
	height: 100%;
	font-family: "微軟正黑體";
}

.header{
	width: 100%;
	min-height: 10%;
	background-color: white;
}

.content{
	width: 100%;
	min-height: 90%;
	/*background-color: orange;*/
}

.left-fun-outline{
	width: 80%;
	height: 90vmin;
	/*background-color: orange;*/
	float: left;
	display: block;
}

.processArea{
	width: 100%;
	height: 12vmin;
	position: relative;
	/*background-color: blue;*/
}

#lookForBike{
	width: 65%;
	height: 12vmin;
	background-color: #34799C;
	float: left;
	/**/
	transition: width 2s;
}

#clickForBike{
	display: block;
	padding: 0.5em 10em;
	margin: 0 auto 0 8em;
}

#lookForBike-pic{
	width: 50px;
	height: 50px;
	float: left;
}
#lookForBike-text{
	float: left;
	font-size: 1em;
	padding: 1em 0 0 0.5em;
	color: #FFF;
}

#flag01{
	position: absolute;
	z-index: 999;
	height: 5vmin;
	top: 30%;
	left: 63.5%;
}

#flag02{
	position: absolute;
	z-index: 999;
	height: 5vmin;
	top: 30%;
	left: 88.7%;
}

#showStartPoint{
	width: 25%;
	height: 12vmin;
	background-color: #2F4199;
	float: left;
	transition: width 2s;
}

#showStartPoint-pic{
	width: 60px;
	height: 55px;
	margin: 0.8em 0 0 2em;
	float: left;
}

#showStartPoint-text{
	float: left;
	font-size: 1em;
	padding: 1.8em 0 0 0.2em;
	color: #FFF;
}

/*動畫*/
@keyframes extendWidth_start {
    from {
    	width: 65%;
    	font-size: 1em;
    }
    to {
    	width: 70%;
    	font-size: 1.2em;
    	font-weight: bold;
    }
}

@keyframes extendWidth_end {
    from {
    	width: 70%;
    	font-size: 1.2em;
    	font-weight: bold;
    }
    to {
    	width: 65%;
		font-size: 1em;
		font-weight: normal;
    }
}

@keyframes reduceWidth_start {
    from {width: 25%;}
    to {width: 20%;}
}

@keyframes reduceWidth_end {
    from {width: 20%;}
    to {width: 25%;}
}

@keyframes arowMove_start{
	from{
		left: 63.5%;
	}
	to{
		left: 68.5%;
	}
}

@keyframes arowMove_end{
	from{
		left: 68.5%;
	}
	to{
		left: 63.5%;
	}
}

/*part2*/

@keyframes bikeButtonreduce_start{
	from{ width: 65%; }
	to{ width: 15%; }
}


@keyframes startPoint_start{
	from{ width: 25%; }
	to{ width: 19%; }
}

@keyframes ternimalPoint_start{
	from{ width: 10%; }
	to{ width: 66%; }
}


@keyframes flag01_part2{
	from{left: 68.5%;}
	to{left: 13.6%;}
}


@keyframes flag02_part2{
	from{left: 88.7%;}
	to{left: 32.6%;}
}

#yourterminalPoint{
	width: 10%;
	height: 12vmin;
	background-color: #212E6D;
	float: left;
}

.outlinContainBox{
	margin: 0.7em 1.8em;
	height: 60%;
	/*border-bottom: 1px solid #9DC3E6;*/
}

#yourterminalPoint-pic{
	width: 60px;
	/*height: 55px;*/
	float: left;
	margin-bottom: 0.5em;
}

#yourterminalPoint-keiIn{
	float: left;
	padding: 0.8em 0.5em 0.5em 0.5em;
	min-width: 75vmin;
	font-size: 1.1em;
	background-color: rgba(0,0,0,0);
	border: 0px solid rgba(0,0,0,0);
	color: #FFF;
	font-family: "微軟正黑體";
	outline: none;
}

::-webkit-input-placeholder { 
	/* WebKit, Blink, Edge */
    color: #E6E6E6;
}

#submitButton{
	background-color: #9DC3E6;
	border-radius: 3px;
	color: #212E6D;
	font-size: 1.4em;
	padding: 10px 18px;
	margin-top: 0.2em;
	float: left;
	margin-left: 0.2em;
	text-decoration: none;
}

#mapArea{
	width: 100%;
	height: 78vmin;	/*90-14再微調*/
}

.right-fun-outline{
	width: 19.55%;
	height: 89vmin;
	/*background-color: pink;*/
	float: left;
	display: block;
	border: 3px solid #41719C;
}

.detailDirectionArea{
	width: 100%;
	height: 70%;
}

#detailDirectionArea-title{
	width: 100%;
	/*height: 8%;*/
	background-color: #4293D6;
	text-align: center;
	color: #FFF;
	padding: 3% 0;
	font-weight: bold;
	border-bottom: 3px solid #41719C;
}

#detailDirectionArea-text{
	width: 100%;
	height: 92%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

#detailDirectionArea-text-clue{
	color: #B8BEBE;
	margin: auto;
	text-align: center;
	position: absolute;
	z-index: 99;
	top: 65%;
	left: 25%;
}

.oneAsignmentBox{
	width: 100%;
	min-height: 15%;
	border-bottom: 2px dashed #BBCFEB;
}


.oneAsignmentBox-text{
	float: left;
	width: 48%;
	max-width: 48%;
	min-height: 40%;
	display: block;
	clear: both;
	font-size: 1em;
	text-align: left;
	margin: 0.8em 0 0.5em 0.5em;
}

.oneAsignmentBox-TDarea{
	float: left;
	width: 23%;
	max-width: 23%;
	height: 100%;
}

.oneAsignmentBox-TDarea-time{
	height: 60%;
	text-align: right;
	font-size: 1.1em;
	line-height: 2.2em;
}
.oneAsignmentBox-TDarea-distance{
	height: 40%;
	text-align: right;
	font-size: 0.3em;
	line-height: 2.2em;
}

.oneAsignmentBox-ifWarn{
	float: left;
	width: 25%;
	max-width: 25%;
	height: 100%;
}

.oneAsignmentBox-ifWarn-pic{
	width: 100%;
	height: 60%;
	/*background-color: blue;*/
}

.oneAsignmentBox-ifWarn-pic img{
	width: 25px;
	height: 25px;
	margin: 15% 25%;
}

.oneAsignmentBox-ifWarn-text{
	width: 100%;
	height: 40%;
	color: #D80027;
	font-size: 0.1em;
	text-align: center;
	margin-top: 0.2em;
	/*background-color: yellow;*/
}

.expectValueArea{
	width: 100%;
	height: 30%;
	display: block;
	/*background-color: pink;*/
}

#expectValueArea-title{
	width: 100%;
	background-color: #4293D6;
	text-align: center;
	color: #FFF;
	padding: 3% 0;
	font-weight: bold;
	border-bottom: 3px solid #41719C;
	border-top: 3px solid #41719C;
}

#expectValueArea-text-time{
	float: left;
	width: 50%;
	height: 21vmin;
	background-color: #9DC3E6;
}

#expectValueArea-text-time-title,#expectValueArea-text-cost-gernal{
	font-size: 1.05em;
	color: #000;
	text-align: center;
	height: 50%;
	line-height: 430%;
}

#expectValueArea-text-time-content{
	max-height: 50%;
	overflow: hidden;
	font-size: 1em;
	color: #000;
	text-align: center;
	line-height: 265%;
}

.focusSingleWord{
	font-weight: bold;
	font-size: 1.35em;
}
.secondaryWord{
	font-size: 0.8em;
}

#expectValueArea-text-cost{
	float: left;
	width: 49.1%;
	height: 21vmin;
	background-color: #9DC3E6;
	border-left: 2px solid #242121;
}

#expectValueArea-text-time-special{
	font-size: 1.05em;
	color: #000;
	text-align: center;
	height: 50%;
	line-height: 230%;
}

.clear{
	clear: both;
}

/*message box CSS*/
div.msgbox-ui{
	background-color: #F66359;
	border: 0px solid rgba(0,0,0,0);
	width: 320px;
	margin: 25% auto;
}

div.msgbox-msg{
	color: #FFF;
	font-family: "微軟正黑體";
	font-size: 1.5em;
	display: inline-block;
	padding: 0;
	margin: 1em 3em;
}

div.msgbox-buttons{
	padding: 0;
}

button.msgbox-ok{
	width: 100%;
	padding: 0.5em;
	margin: 0;
	border: 0px solid rgba(0,0,0,0);
	content: '關閉';
	font-family: "微軟正黑體";
	/*background-color: #FFAA2C;
	color: #FFF;
	font-size: 1.6em;*/
}

.isHidden{
	display: none;
}

.gm-style-iw{
    width: 800px;
    height: 85px;
}



img{
	max-width: 100%;
	height: auto;
}

html{
	height: 100%;
}

body{
	height: 100%;
}


.header{
	width: 100%;
	height: 10%;
	background-color: white; 
}


#logo{
	height: 55px;
	display: inline-block;
	margin: 0.3% 1% 0 6%;
	float: left;
}

#header-title{
	font-family: Microsoft JhengHei;
	font-size: 20px;
    display: inline-block; 
    width: 10%;
    height: 35%;
	color: black;
	float: left;
	padding-top: 2%; 
}

.body{
	height: 88%;
	margin:0px;
	padding:0px;
	background:#fff url("img/S0FPXzA0MTYuSlBH.JPG") center center fixed no-repeat;　//設定背景圖片的呈現方式
	background-size: cover;　//設定背景圖片的填滿方式	
}

.title{
	background-color: rgba(0, 32, 96, 0.3);
	height: 100%;
	width: 40%;
}

.title_word{
	width: 80%;
	height: 20%;
	margin:auto;
	padding-top: 45%;
}

#title-small{
	color: white;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	font-size:45px;
}
#title-big{
	color: white;
	font-family: Microsoft JhengHei;
	font-weight: bold;
	font-size:50px;
}

.header-list{
	float: right;
	width: 50%;
	margin-right: 3%;
}

.header-list ul li{
	display: inline;
/*	background: orange;  */
	float: right;
	margin-top: 2.8%;
	margin-right: 2%;
	font-size: 15px;
	font-weight: bold;
	color: black;
	font-family: Microsoft JhengHei;
	padding: 10px;
}

.header-list ul li:hover{
	/*background: #A0B4DC;*/
	background-image: url('img/bicycle-transBlue.png');
}

.smartphone-botton{
	display: none;
}

.bottom-view-word{
	display: none;
}

@media(max-width:320px) {
	.header{
	background-color: rgb(202, 228, 186);
	height: 8%;
	}

	#header-title{
		font-size: 18px;
		width: 50%;
		padding-left: 18%;
		padding-top: 5%;
	}

	#logo{
		width: 50px;
		height: 50px;
	}

	#title-big{
		font-size: 25px;
	}

	#title-small{
		font-size: 23px;
	}

	.title_word{
		padding-top: 30%;
		width: 82%;
	}

	.title{
		height: 40%;
		width: 50%;
	}

	.header-list ul li{
		display: none;
	}

	.smartphone-botton{
		width: 100%;
	/*	background: blue;*/
 		display: block;
	}

	.body{
		background-size:100% 40%;
		background-position:0 10%;
	}

	#index-body{
		height: 70%;
	}

	.link-icon{
		float: left;
		width: 15%;
		margin:2% 0 2% 17%; 
	}

	.search-page-link{
		background-color: rgb(58,152,210);
		width: 100%;
	}

	.link-words{
		float: left;
		width: 50%;
	}

	.link-words-title{
		font-size: 18px;
		color: white;
		font-family: Microsoft JhengHei;
		font-weight: bold;
		margin:6% 0 0 8%;
		padding-bottom: 2%;
		border-bottom: 2px white solid;
	}

	.navigation-page-link{
		background-color: rgb(37,93,143);
		width: 100%;
	}

	.link-words-content{
		font-size: 10px;
		color: white;
		font-family: Microsoft JhengHei;
		margin:2% 0 0 8%;
	}

	.bottom-view{
		background:url("img/579900_2.jpg") no-repeat left top;　//設定背景圖片的呈現方式
		background-size:contain;　//
		height: 100%;
		width:100%;
	}

	.bottom-view-shade{
		background-color: rgba(0, 32, 96, 0.3);
		height: 100%;
		width: 40%;
		float: right;
	}

	.bottom-view-word{
		color: white;
		font-size: 24px;
		margin:55% 10% 90% 0;
		width: 50%;
		float: right;
		font-family: Microsoft JhengHei;
		font-weight: bold;
		display: block;
	}

}	

.clear{
	clear: both;

}

.search-map{
	float: left;
	height: 100%;
	background-color: rgba(255, 230, 153, 0.67); 
	width: 80%;
	font-family: Microsoft JhengHei;
}

#map{
	margin: 5% 2% 3% 6%;
	background: orange;
	width: 65%;
	height: 80%; 
	float: left;
	border: 1.5px solid black; 
}

.search-page-introduce{
	float: left;
	margin: 5% 0 0 0;
	height: 88%;
	width: 26%;
}

#No1{
	width: 24%;

}

#search-page-title{
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	width: 40%;
	position: relative;
	top: -6.5%;
}

.map-popout{
	background: rgb(255,255,136);
	height: 420px;
	width: 320px;
	font-family: Microsoft JhengHei;
}

#No2{
	display: inline-block;
	width: 60px;
	margin-left: 22%;
	margin-top: 5px; 
}

#map-popout-title-word{
	position: relative;
	top: -15px;
	font-weight: bold;
	font-size: 25px;
}

.map-popout-info{
	text-align: center;
	font-size: 15px;

}

.map-popout-stop-name{
	margin:0 auto;
	font-size: 18px;
	font-weight: bold;
	padding: 2px 0;
}

.map-popout-stop-left-car{
	float: left;
	margin: 0 22px;
	border-bottom: 3px black solid;
	width: 35%;
	height: 60px;
}

.map-popout-stop-left-space{
	float: right;
	margin: 0 22px;
	border-bottom: 3px black solid;
	width: 35%;
	height: 60px;
}


#map-popout-icon{
	display: inline-block;
	width: 55px;
	float: left;
}

#map-popout-number{
	font-weight: bolder;
	font-size: 40px;
	float: left;
	position: relative;
	top: 0px;
	right: -10px;
}

.map-popout-address{
	margin:12px auto;
}

.map-popout-streetview{
	margin: 5px auto;

}

#map-popout-pic{
	width: 130px;
	height: 90px;
	margin:0 8px; 
	overflow: hidden;
}

.mobile-body{
	display: none;
}

.start-navigation{
	background: rgb(255,203,37); 
	padding: 10px;
	color: black;
	width: 23%;

	position: absolute;
	top: 80%;
	left: 60%;
}

#picture-preview{
	width: 100%;
	height: 88%;
	background-color: rgba(0,32,96,0.7);
	position: relative;
	top: -88%;
	z-index: 0;
	display: none;
	text-align:center;
}

#big-pic{
	margin-top: 6%;
	max-height: 70%;
	display: inline-block;
	border:white 5px solid;
}

@media(max-width:320px) {

	#search-page-body{
		height: 64.5%;
	}

	.search-page-introduce{
		display: none;
	}

	.mobile-body{
		display: block;
		width: 100%;
		background: rgb(255,223,121);
		font-family: Microsoft JhengHei;
	}
	
	.list-bottom-mobile{
		width: 100%;
		height: 28px;
		background: rgb(255,203,37);
		float: left;
		text-align: center;
		margin-bottom: 5px;
		line-height: 28px;
		font-weight: bold;
		color: black;
	}

	.mobile-introduction{
		width: 75%;
		margin: 3px auto 0 auto;
	}
	
	#mobile-No1{
		display: inline-block;
		margin-left: 50px;
	}

	#search-page-title{
		font-size: 20px; 
		position: relative;
		top: -15px;
	}

	#introduction-words{
		display: block;
		font-size: 10px; 
		margin: 5px auto;
		padding-left: 15px; 
		padding-bottom: 15px;
	}

	.search-map{
		width: 100%;
		padding: 0;
		margin: 0;
		background:  rgb(255,223,121);
	}

	#map{
		width: 99%;
		height: 110%;
		padding: 0;
		margin: 0;
		position: relative;
		top: -5px;
	}
	
	.map-popout{
		width: 100%;
		height: 100%;
	}

	#No2{
		margin-left:25px;
		display: block-inline;
		width: 50px;
	}
	
	#map-popout-title-word{
		font-size: 20px;
	}

	.map-popout-stop-name{
		margin-top: -10px;
		font-size: 15px;
	}

	#map-popout-icon{
		padding: 0;
		width: 40px;
	}

	.map-popout-stop-left-car{
		width: 27%;
		height: 40px;
		border: none;
	}

	.map-popout-stop-left-space{
		width: 27%;
		float: left;
		margin: 0 20px 0 3px;
		height: 40px;
		border: none;
	}

	#map-popout-number{
		font-size: 20px;
		text-align: center;
		width: 10%;
		top: 5px;
		left: 6px;
	}

	.map-popout-address{
 		width: 80%;
 		position: relative;
 		top: -10px;
	}

	.map-popout-streetview{
		position: relative;
 		top: -20px;
	}

	#map-popout-pic{
		width: 70%;
		height: 30%;
	}

	.start-navigation{
	width: 28%;
	line-height: 14px;
	position: absolute;
	top: 80%;
	left: 50%;
	font-size: 10px;
	padding-bottom: 8px; 
	}

	#picture-preview{
	width: 100%;
	height: 86%;
	background-color: rgba(0,32,96,0.7);
	position: relative;
	top: -53%;
	z-index: 0;
	display: none;
	text-align:center;
	}

	#big-pic{
	max-height: 70%;
	max-width: 70%;
	display: inline-block;
	border:white 5px solid;
	position: relative;
	top: -15%;
	}

	.left-fun-outline{
		float: none;
		width: 100%;
	}

	.right-fun-outline{
		float: none;
		width: 100%;
	}

}